.projects {
	max-width: var(--main-page-width);
	margin: 0 auto 2rem;
}

.projects > h2 {
	position: absolute;
	clip: rect(0 0 0 0);
	scroll-margin-top: var(--header-height);
}

.projects ul {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--panel-gap);
}

.projects ul li {
	overflow: hidden;
	border-radius: var(--panel-border-radius);
}

.projects ul li a {
	display: grid;
	grid-template-columns: 60% 1fr;
	height: 20rem;
	padding: min(3rem, 6vw);
}

.projects ul li a div {
	align-self: end;
}

.projects ul li a div h3 {
	font-size: clamp(1.5rem, 3rem, 12vw);
}

.projects ul li a div p {
	font-size: clamp(1.2rem, 1.4rem, 5vw);
}

.projects ul li a img {
	max-height: 100%;
	place-self: center end;
}

/* project specific styles */
.projects ul li.pokedex {
	font-family: pokemon, 'satoshi', 'Source Sans Pro', Arial, Helvetica, sans-serif;
	--text-shadow-color: #424242;
	--text-shadow-size: min(0.3rem, max(0.5vw, 0.15rem));
}

.projects ul li.pokedex a div h3 {
	position: relative;
	font-family: inherit;
	font-size: clamp(2rem, 3.5rem, 12vw);
	color: #000;
}

.projects ul li.pokedex a div p {
	margin-top: 0.4rem;
	font-size: clamp(1.5rem, 1.6rem, 5.5vw);
	color: #000;
	position: relative;
	--text-shadow-size: min(0.125rem, max(0.5vw, 0.15rem));
}

.projects ul li.pokedex a div h3::after,
.projects ul li.pokedex a div p::after {
	content: attr(data-value);
	color: var(--text-white);
	position: absolute;
	inset: 0;
	pointer-events: none;

	text-shadow: var(--text-shadow-size) 0 var(--text-shadow-color),
	0 var(--text-shadow-size) var(--text-shadow-color),
	var(--text-shadow-size) var(--text-shadow-size) var(--text-shadow-color);
}

@media screen and (max-width: 600px) {
	.projects ul li a {
		grid-template-columns: 1fr;
	}
	.projects ul li a {
		grid-template-columns: 1fr;
	}
	
	.projects ul li a div {
		align-self: center;
		text-align: center;
	}

	.projects ul li a img {
		display: none;
	}
}
