.projects {
	color: red;
	padding: var(--panel-gap);
}

.projects ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--panel-gap);
}

.projects ul li {
	background-color: blue;
	min-height: 30rem;
}

.projects ul.uneven li:first-of-type {
	grid-column: 1 / -1;
}