.projects {
	max-width: var(--main-page-width);
	margin: 0 auto 2rem;
}

.projects > h2 {
	position: absolute;
	clip: rect(0 0 0 0);
	scroll-margin-top: var(--header-height);
}

.projects ul {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--panel-gap);
}


.link-panel {
	--panel-padding: min(3rem, 6vw);
	--panel-height: 20rem;
	display: block;
	height: var(--panel-height);
	border-radius: var(--panel-border-radius);
}

.link-panel .inner {
	position: relative;
	display: grid;
	grid-template-columns: 60% 1fr;
	border: solid 2px var(--main-bg);
	border-radius: var(--panel-border-radius);
	height: 100%;
	padding: var(--panel-padding);
	color: var(--panel-text-color, var(--text-white));
	background-color: var(--panel-bg-color, var(--secondary-bg));
	transition: transform 0.4s ease, border-color 0.2s ease;
}

.link-panel:is(:hover, :focus-visible) .inner {
	transform: scale(0.975);
	border-color: var(--main-text);
}

.link-panel:focus {
	outline: none;
}

.link-panel:focus-visible .inner {
	outline-offset: 5px;
	outline: solid 3px var(--panel-bg-color);
}

.link-panel .info {
	align-self: end;
}

.link-panel .info h3 {
	font-size: clamp(1.5rem, 3rem, 12vw);
}

.link-panel .info p {
	font-size: clamp(1.2rem, 1.4rem, 5vw);
}

.projects .link-panel img {
	place-self: center end;
	height: calc(var(--panel-height) - var(--panel-padding) * 2);
}

/* project specific styles */
.projects ul li.pokedex {
	font-family: pokemon, 'satoshi', 'Source Sans Pro', Arial, Helvetica, sans-serif;
	--text-shadow-color: #424242;
	--text-shadow-size: min(0.3rem, max(0.5vw, 0.15rem));
}

.projects ul li.pokedex .link-panel .info h3 {
	position: relative;
	font-family: inherit;
	font-size: clamp(2rem, 3.5rem, 12vw);
}

.projects ul li.pokedex .link-panel .info p {
	margin-top: 0.4rem;
	font-size: clamp(1.5rem, 1.6rem, 5.5vw);
	position: relative;
	--text-shadow-size: min(0.125rem, max(0.5vw, 0.15rem));
}

.projects ul li.pokedex .link-panel .info h3::after,
.projects ul li.pokedex .link-panel .info p::after {
	content: attr(data-value);
	/* zorgt ervoor dat screenreaders ::after niet voorlezen, werkt niet in Firefox dus fallback zonder */
	content: attr(data-value) / '';
	color: var(--text-white);
	position: absolute;
	inset: 0;
	pointer-events: none;

	text-shadow: var(--text-shadow-size) 0 var(--text-shadow-color),
		0 var(--text-shadow-size) var(--text-shadow-color),
		var(--text-shadow-size) var(--text-shadow-size) var(--text-shadow-color);
}

.projects ul li.pokedex img {
	image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
	.link-panel {
		grid-template-columns: 1fr;
	}
	.link-panel {
		grid-template-columns: 1fr;
	}

	.link-panel .info {
		align-self: center;
		text-align: center;
	}

	.link-panel img {
		display: none;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.link-panel:is(:hover, :focus-visible) {
		transform: none;
	}
}