@font-face {
	src: url(/fonts/Satoshi-Variable.woff);
	font-family: 'satoshi';
}

@font-face {
	src: url(/fonts/pokemon-fire-red.woff2);
	font-family: pokemon;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	/* ---------------------- */
	/* ---- Static Color ---- */
	/* ---------------------- */
	--text-black: #333;
	--text-white: #fff;
	--nav-panel-1: #5627af;
	--nav-panel-2: #9d27b0;
	--nav-panel-3: #2729af;
	--nav-panel-4: #256bb0;

	/* ---------------------- */
	/* ----- Bg Colors ------ */
	/* ---------------------- */
	--main-bg: #0d1117;
	--secondary-bg: #161b22;
	--input-bg: #2b2a33;
	

	/* ---------------------- */
	/* ---- Text Colors ----- */
	/* ---------------------- */
	--main-text: #fff;
	--secondary-text: #d5d5d5;
	--link-color: #58a6ff;
	--selection-color: #ef0fff;


	/* ---------------------- */
	/* ---- other values ---- */
	/* ---------------------- */
	--panel-gap: 0.5rem;
	--panel-border-radius: min(4rem, 15vw);
	--heading-fonts: 'satoshi', 'Source Sans Pro', Arial, Helvetica, sans-serif;
	--body-fonts: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

:root[data-theme='light'] {
	color-scheme: light;
	/* ---------------------- */
	/* ----- Bg Colors ------ */
	/* ---------------------- */
	--main-bg: #fff;
	--secondary-bg: #d5d5d5;
	--input-bg: #fff;

	/* ---------------------- */
	/* ---- Text Colors ----- */
	/* ---------------------- */
	--main-text: #111;
	--secondary-text: #333;
	--link-color: #0969da;
}

body {
	font-family: var(--body-fonts);
	color: var(--main-text);
	background-color: var(--main-bg);
}

h1, h2, h3, h4, h5, h6, a.underline {
	font-family: var(--heading-fonts);
}

button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	color: var(--main-text);
	text-decoration: none;
}

img {
	max-width: 100%;
}

a.underline {
	color: var(--link-color);
	text-decoration: none;
	position: relative;
}

a.underline:is(:hover, :focus-visible)::after {
	transform: scale(1);
}

a.underline::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--link-color);
	transition: transform 0.25s;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scale(0);
}

ul,
ol {
	list-style: none;
}

h1::selection {
	color: var(--selection-color);
	background-color: var(--main-bg);
}
