.splash {
	display: grid;
	grid-template-rows: 40% 1fr;
	min-height: 100vh;
	height: fit-content;
}

.splash > div:first-of-type {
	height: 40vh;
	min-height: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splash div h1 {
	font-size: clamp(2rem, 5rem, 10vw);
	text-align: center;
	place-self: center;
}

.splash nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5em;
	padding: 0.5em;
	align-self: end;
}

.splash nav a {
	--panel-color-1: #5627af;
	--panel-color-2: #9d27b0;
	--panel-color-3: #2729af;
	--panel-color-4: #e91f63;
	--panel-color-5: #256bb0;

	position: relative;
	overflow: hidden;
	color: var(--text-white);
	background-color: var(--secondary-bg);
	background-image: linear-gradient(
		140deg,
		var(--panel-color, var(--secondary-bg)) 50%,
		var(--secondary-bg) 0
	);
	border-radius: 4rem;
	padding: 4em;
	transition: transform 0.4s ease, border-color 0.2s ease, background-position 1.8s ease;
	border: solid 2px var(--main-bg);
	background-size: 200% 200%;
	background-position: 100% 100%;

	animation: panelLoad 1.8s ease forwards;
}

@keyframes panelLoad {
	to {
		background-position: 0 0;
	}
}

.splash nav a:first-of-type {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	min-height: 30rem;
	/* --panel-color: #5627af; */
}

.splash nav a:nth-of-type(2) {
	/* --panel-color: #9d27b0; */
}

.splash nav a:nth-of-type(3) {
	/* --panel-color: #2729af; */
}

.splash nav a:last-of-type {
	grid-column: 3 / -1;
	/* --panel-color: #e91f63; */
}

.splash nav a:is(:hover, :focus-visible) {
	transform: scale(0.975);
	border-color: var(--main-text);
}

.splash nav a:focus-visible {
	outline-offset: 3px;
	outline-color: var(--link-color);
}

.splash.splash nav a svg {
	position: absolute;
	bottom: 1em;
	right: 2em;
	width: 3em;
	fill: none;
	stroke: currentColor;
	mix-blend-mode: difference;
	transition: fill 0.2s ease;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-width: 1.5px;
}

@media (max-width: 1028px) {
	.splash > div:first-of-type {
		height: 30vh;
	}

	.splash nav {
		grid-template-columns: repeat(2, 1fr);
	}

	.splash nav a {
		border-radius: 3em;
	}

	.splash nav a:first-of-type {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.splash nav a:nth-of-type(2),
	.splash nav a:last-of-type {
		min-height: 12rem;
	}

	.splash nav a:last-of-type {
		grid-column: 1 / -1;
	}
}

@media (max-width: 768px) {
	.splash > div:first-of-type {
		height: 20vh;
	}

	.splash nav {
		gap: 0.1em;
		padding: 0.1em;
	}
}