.about {
	max-width: var(--main-page-width);
	margin: 4rem auto 2rem;
}

.about article {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about article section:first-of-type {
	padding-right: 2rem;
}

.about article section h2 {
	scroll-margin-top: var(--header-height);
	margin-bottom: .5rem;
	font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.about article section p {
	font-size: clamp(1rem, 3vw, 1.2rem);
	line-height: 1.4;
}

/* section met image */
.about article section div {
	--border-radius: 50%;
	position: relative;
	overflow: hidden;
	border-radius: 0 var(--border-radius) 0 var(--border-radius);
	width: fit-content;
}

.about article section div::after {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	mix-blend-mode: multiply;
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	.about article {
		grid-template-columns: 1fr;
	}

	.about article section:first-of-type {
		padding-right: 0;
		margin-bottom: 2rem;
	}

	.about article section div {
		border-radius: 30%;
		margin: 0 auto;
	}
}
