.about {
	max-width: var(--main-page-width);
	margin: 4rem auto 2rem;
}

.about article {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about article section:first-of-type {
	padding-right: 2rem;
}

.about article section h2 {
	scroll-margin-top: var(--header-height);
	margin-bottom: .5rem;
	font-size: clamp(1.5rem, 5vw, 1.8rem);
}

.about article section p {
	font-size: clamp(1rem, 3vw, 1.2rem);
	line-height: 1.4;
}

.about article section p.resume {
	margin-top: 1.5rem;
}

.about article section p.resume a {
	display: block;
	width: fit-content;
}

/* section met svg thingy */
.about article section:last-of-type {
	position: relative;
	container-type: inline-size;
}

.about article section:last-of-type button {
	position: absolute;
	width: 100%;
	height: 100%;
	height: 46.2cqw;
}

/* cool css animation thingy: https://tympanus.net/Tutorials/AnimatedTextFills/ */
.svg {
	font-size: 13.5rem;
	text-transform: uppercase;
	font-family: 'Open Sans', 'sans-serif';
	stroke-linecap: round;
}

.svg use {
	fill: none;
	stroke-width: 6;
	stroke-linejoin: round;
	stroke-dasharray: 70 330;
	animation: stroke 15s infinite linear;
}

@media screen and (prefers-reduced-motion: reduce) {
	.about article section:last-of-type .svg use {
		animation-play-state: paused;
	}
}

.svg use:nth-of-type(5n + 1) {
	stroke: #f2385a;
	animation-delay: -1.2s;
}
.svg use:nth-of-type(5n + 2) {
	stroke: #f5a503;
	animation-delay: -2.4s;
}
.svg use:nth-of-type(5n + 3) {
	stroke: var(--main-text);
	animation-delay: -3.6s;
}
.svg use:nth-of-type(5n + 4) {
	stroke: #56d9cd;
	animation-delay: -4.8s;
}
.svg use:nth-of-type(5n + 5) {
	stroke: #3aa1bf;
	animation-delay: -6s;
}
@keyframes stroke {
	from {
		stroke-dashoffset: 800;
	}
	to {
		stroke-dashoffset: 0;
	}
}


@media screen and (max-width: 768px) {
	.about article {
		grid-template-columns: 1fr;
	}

	.about article section:first-of-type {
		padding-right: 0;
	}
}
