.loading {
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
}

.loading div {
	width: 12px;
	border-radius: 10px;
	background-color: #1db954;
	animation: loader 2s ease-in-out infinite var(--delay);
}

@media screen and (prefers-reduced-motion: reduce) {
	.loading div {
		animation-delay: calc(var(--delay) - 1.5s) !important;
		animation-play-state: paused;
	}

	.loading:where(:hover) div {
		animation-play-state: running;
	}
}

@keyframes loader {
	0%,
	100% {
		height: 2px;
	}

	50% {
		height: 100%;
	}
}