main > div {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(20em, 1fr));
    gap: 2.5em;
    width: 90%;
    margin: 0 auto;
}

main > div article {
    background: green;
    margin-top: 1em;
    height: calc(15em + 5% + 3em);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

main > div article div:first-of-type {
    position: absolute;
    margin-top: calc(15em + 5% + 2.5em);
    /* height en width = 100% - padding */
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    padding: 2em;
    background: rgba(0, 0, 0, 0.8);
    color: var(--wit);
    transition: all .4s ease;
}

main > div article div:first-of-type h2 {
    color: var(--wit);
}

main > div article div:first-of-type p {
    color: var(--wit);
}

main > div article:hover div:first-of-type,
main > div article:focus div:first-of-type {
    margin-top: 0;
}

main > div article:hover > h2,
main > div article:focus > h2 {
    margin-bottom: 12.6em;
}

main > div article > div:last-of-type {
    width: 90%;
    height: 15em;
    margin: 5% auto .1em auto;
}

main > div article > div:last-of-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

main > div article > h2 {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    text-align: center;
    background: red;
    padding: 0 5%;
    transition: all .4s ease;
}



/*****************************
porject popup styles
*****************************/
section.popupcontainer article {
    background: var(--tekstalt);
    /* calc 90% - padding */
    width: calc(90% - 5em);
    height: calc(90% - 5em);
    padding: 2.5em;
    position: fixed;
    top: 5%;
    z-index: 5;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
}

section.popupcontainer article button {
    font-size: 1.2em;
    height: 1.8em;
    width: 1.8em;
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: solid 1px var(--tekst);
}

section.popupcontainer article button:hover,
section.popupcontainer article button:focus {
    transform: scale(1.2);
}

/*****************************
zwarte achtergrond voor popup
*****************************/
section.popupcontainer div {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
}

section.popupcontainer.open article,
section.popupcontainer.open div {
    display: grid;
}



/*****************************
mobile styles
*****************************/
@media screen and (max-width: 768px) {
    main > div {
        width: 95%;
    }
}