<header>
    <h1>Mijn Projecten</h1>
    <p>Projecten die ik alleen of ik een team heb gemaakt</p>
</header>

<main>
    <div>
        <article *ngFor="let project of projecten" class="{{project.url}}_info" (click)="toggleProjectInfo($event)"
            (keyup.enter)="toggleProjectInfo($event)" tabindex="0">
            <div>
                <h2>{{project.titel}}</h2>
                <p>{{project.tekst}}</p>
                <span>Lees Meer</span>
            </div>
            <div>
                <img *ngIf="project.img !== ''" src="../../../assets/img/portfolio_preview/{{project.img}}"
                    alt="{{project.imgAlt}}">
            </div>
            <h2>{{project.titel}}</h2>
        </article>
    </div>
</main>

<section class="popupcontainer">
    <article>
        <button type="button" aria-label="projectinformatie dicht" (click)="toggleProjectInfo($event)">&#10005;</button>
        <section>
            <h3>Afbeeldingen uit het project</h3>
            <img *ngFor="let item of project.data.imgs; index as i" loading="lazy"
                src="../../../assets/img/portfolio_img/{{project.url}}/{{project.data.imgs[i]}}"
                alt="{{project.data.imgsAlt[i]}}">
        </section>

        <section>
            <h2>{{project.titel}}</h2>
            <p [innerHTML]="project.data.tekst"></p>
        </section>
    </article>

    <div (click)="toggleProjectInfo($event)"></div>
</section>