/* cool css animation thingy: https://tympanus.net/Tutorials/AnimatedTextFills/ */
.svg-container {
	position: relative;
	container-type: inline-size;
}

.svg-container button.clickable {
	position: absolute;
	width: 100%;
	height: 100%;
	height: 46.2cqw;
}

.svg-container svg {
	--color1: #7e6aa8;
	--color2: #9ece69;
	--color3: #7dcfff;
	--color4: #2f69e4;
	--color5: #dcac67;

	font-size: 13.5rem;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	stroke-linecap: round;
}

.svg-container svg use {
	fill: none;
	stroke-width: 6;
	stroke-linejoin: round;
	stroke-dasharray: 70 330;
	animation: stroke 15s infinite linear;
}

@media screen and (prefers-reduced-motion: reduce) {
	.svg-container svg use {
		animation-play-state: paused;
	}
}

@keyframes stroke {
	from {
		stroke-dashoffset: 800;
	}
	to {
		stroke-dashoffset: 0;
	}
}
