.splash {
	--name-div-min-height: 20rem;
	--big-panel-min-height: 30rem;
	/* small panel min-height 0 omdat de panels voor big screen nog naast elkaar staan dus alleen big panel height is nodig */
	--small-panel-min-height: 0px;
	display: grid;
	grid-template-rows: max(40%, var(--name-div-min-height)) max(1fr, min-content);

	/* min height calc div met naam min height, big panel min height, small panel height * 2, + 2rem voor extra witruimte */
	min-height: calc(
		var(--name-div-min-height) + var(--big-panel-min-height) +
			var(--small-panel-min-height) * 2 + 2rem
	);
	height: 100vh;
}

/* div with name */
.splash > div:first-of-type {
	height: 100%;
	min-height: var(--name-div-min-height);
	display: flex;
	justify-content: center;
	align-items: center;
}

.splash div h1 {
	font-size: clamp(2rem, 5rem, 10vw);
	text-align: center;
	place-self: center;
}

/* actual navlinks */
.splash nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--panel-gap);
	padding: var(--panel-gap);
}

.splash nav a {
	min-height: var(--small-panel-min-height);
	background-image: linear-gradient(
		140deg,
		var(--panel-bg-color, var(--secondary-bg)) 50%,
		var(--secondary-bg) 0
	);
	transition: transform 0.4s ease, border-color 0.2s ease, background-position 1.8s ease;
	background-size: 200% 200%;
	background-position: 100% 100%;

	animation: panelLoad 1.8s ease forwards;
}

@keyframes panelLoad {
	to {
		background-position: 0 0;
	}
}

.splash nav a:first-of-type {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	min-height: var(--big-panel-min-height);
	--panel-bg-color: #5627af;
}

.splash nav a:nth-of-type(2) {
	--panel-bg-color: #9d27b0;
}

.splash nav a:nth-of-type(3) {
	--panel-bg-color: #2729af;
}

.splash nav a:last-of-type {
	grid-column: 3 / -1;
	--panel-bg-color: #e91f63;
}

.splash.splash nav a svg {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	width: 3rem;
	fill: none;
	stroke: currentColor;
	mix-blend-mode: difference;
	stroke-linecap: round;
	stroke-linejoin: bevel;
	stroke-width: 1.5px;
}

@media (max-width: 1028px) {
	.splash {
		/* small panel min height wordt hier aangegeven omdat de panels onder elkaar komen */
		--small-panel-min-height: 12rem;
		grid-template-rows: max(30%, var(--name-div-min-height)) max(1fr, min-content);
	}

	.splash nav {
		grid-template-columns: repeat(2, 1fr);
	}

	.splash nav a:first-of-type {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.splash nav a:last-of-type {
		grid-column: 1 / -1;
	}
}

@media (max-width: 768px) {
	.splash {
		grid-template-rows: max(20%, var(--name-div-min-height)) 1fr;
	}

	.splash nav {
		gap: 0.1rem;
		padding: 0.1rem;
	}
}

/* prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
	.splash nav a {
		background-position: 0 0;
	}

	.splash nav a:is(:hover, :focus-visible) {
		transform: none;
	}
}
