.about {
	max-width: var(--main-page-width);
	margin: 4rem auto 2rem;
}

.about article {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about article section:first-of-type {
	padding-right: 2rem;
}

.about article section h2 {
	scroll-margin-top: var(--header-height);
	margin-bottom: 0.5rem;
	font-size: clamp(1.5rem, 5vw, 1.8rem);
}

.about article section p {
	font-size: clamp(1rem, 3vw, 1.2rem);
	line-height: 1.4;
}

.about article section p.resume {
	margin-top: 1.5rem;
}

.about article section p.resume a {
	display: block;
	width: fit-content;
}

@media screen and (max-width: 768px) {
	.about article {
		grid-template-columns: 1fr;
	}

	.about article section:first-of-type {
		padding-right: 0;
	}
}
