.contact {
	width: var(--main-page-width);
	margin: 0 auto 0.5rem;
	background-color: var(--secondary-bg);
	border-radius: 2rem;
	padding: min(3rem, 5vw);
}

.contact > div {
	max-width: 700px;
	margin: 0 auto;
}

.contact form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

/* section met naam, email input */
.contact form section {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.contact form input,
.contact form textarea {
	padding: 0.7rem;
	border-radius: 0.7rem;
	border: none;
	font-size: 1rem;
	background-color: var(--input-bg);
	border: solid 2px transparent;
}

.contact form input:focus,
.contact form textarea:focus {
	outline: none;
	border-color: var(--link-color);
}

.contact form div {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.contact form div label {
	display: flex;
	gap: 1rem;
}

/* error styling */
.contact form div label span {
	display: none;
}

.contact form div label.error span {
	display: initial;
}

.contact form div label.error + input,
.contact form div label.error + textarea {
	border-color: var(--form-error);
}

.contact form textarea {
	resize: none;
	height: 6rem;
}

.contact form button[type='submit'] {
	position: relative;
	padding: 0.7rem 1.5rem;
	border-radius: 0.7rem;
	border: none;
	width: 10rem;
	max-width: 100%;
	text-align: center;
	margin: 1rem auto 0;
	font-weight: bold;
	font-size: 1.1rem;
	border: solid 2px var(--link-color);
	transition: all 0.2s ease-in-out;
	outline-offset: 2px;
}

.contact form button[type='submit']:where(:hover, :focus-visible) {
	background-color: var(--link-color);
	color: var(--inverted-text);
}

/* loader via: https://cssloaders.github.io/ */
.contact form.loading button[type='submit']::after {
	content: '';
	position: absolute;
	right: -4.5rem;

	height: 100%;
	aspect-ratio: 1;
	top: 0;
	border-radius: 50%;
	border-top: 3px solid var(--link-color);
	border-right: 3px solid transparent;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 700px) {
	.contact {
		width: 95%;
	}

	.contact form section {
		flex-direction: column;
	}
}
