.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding: 0 min(2rem, 5vw);
	height: 3.5rem;
	justify-content: space-between;
}

.nav a {
	--padding-horizontal: .5rem;
	display: inline-block;
	padding: .3rem var(--padding-horizontal);
	margin-left: calc(var(--padding-horizontal) * -1);
}

.project {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
}


.project header {
	margin: 5rem 0 3rem;
}

.project header h1 {
	font-size: 7rem;
	font-size: clamp(2rem, 10vw, 4rem);
	line-height: 1.1;
	margin-bottom: 1rem;
}

/* case info en mijn rol section */
.project header section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project header section div:first-of-type {
	padding-right: 2rem;
}

.project header section div.case p {
	font-size: 1.2rem;
	line-height: 1.5;
}


.project header section h2 {
	color: var(--secondary-text);
	font-weight: lighter;
	margin: 1rem 0;
}

.project header section div.role ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: max-content;
}

/* todo: lichtere font uitzoeken */
.project header section div.role ul li {
	border: solid 1px var(--link-color);
	border-radius: 10rem;
	width: 100%;
	padding: .2rem .6rem;
	text-align: center;
}

/* hele verhaaltje */
.project .story img {
	width: 100%;
	display: block;
}

@media screen and (max-width: 768px) {
	.project {
		max-width: 95%;
	}

	.project header section {
		grid-template-columns: 1fr;
	}
}

/* zorgt er voor dat nav achtergrondkleur krijgt wanneer de tekst erin in over de page content valt */
@media screen and (max-width: 1100px) {
	.nav {
		background-color: var(--main-bg);
	}
}