.footer {
	background-color: var(--secondary-bg);
	margin-top: 2rem;
}

.footer section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: var(--main-page-width);
	min-height: 7.5rem;
	padding: 1rem 0;
	font-size: 1.1rem;
}

.footer section h3 {
	font-size: 1.1rem;
}

.footer.projects section {
	width: var(--project-page-width);
}


/* lijstje met socials */
.footer section ul {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.footer section ul li.theme-switcher-container {
	margin-left: auto;
}

.footer section ul li a {
	color: var(--main-text);
	font-family: var(--body-fonts);
}

.footer section ul li a:active,
.footer section ul li a:focus-visible {
	color: var(--link-color);
}

@media screen and (max-width: 500px) {
	.footer section ul {
		flex-direction: column;
		align-items: start;
		gap: .2rem;
		margin-top: .5rem;
	}

	.footer section ul li.theme-switcher-container {
		margin: 1rem auto 0;
		text-align: center;
	}
}