.theme-switcher {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.scrollbtn {
	margin: 2rem auto 1rem;
	padding: 0.7rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;
	font-size: 1.4rem;
}

.scrollbtn::after {
	content: '';
	background-color: var(--main-text);
	mask-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 960 560'%3E%3Cpath d='M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z' /%3E%3C/svg%3E");
	mask-repeat: no-repeat;
	mask-size: contain;
	width: 3rem;
	height: 1.75rem;
	transition: background-color 0.2s ease-in-out;
}

.scrollbtn:where(:hover, :focus-visible)::after {
	background-color: var(--link-color);
}

@media screen and (prefers-reduced-motion: no-preference) {
	.scrollbtn::after {
		animation: arrowBounce 1.5s ease infinite;
	}

	@keyframes arrowBounce {
		0%,
		100% {
			transform: translateY(0);
		}

		50% {
			transform: translateY(-0.2rem);
		}
	}
}
